
body,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,input { 
	margin:0; padding:0; 
}

#align{
	width:100%;
}


#content {
	width:800px;
	margin:0 auto;
}
	
#up_form_box{
}

#bottom{
	float:left;
	width:800px;
	margin-top:10px
}

#img_div{
	text-align:center;
}

#left , #right{
	width:400px;
	float:left;
}

#event_box {
	width:400px;
}

#event_box input{ 
	width:30px;
}

#event_box label{ 
	width:400px;
	display:block;
}

#time {width:150px;}

.txt-size {height:25px;}


ul,ol { list-style:none; }
.price{
color:red;
	  font-weight:bold;
	  font-size:18px;
}


#top_img{
	margin-bottom:20px;
	margin-top:10px;
}



